html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 1; }

@font-face {
  font-family: "nyt-cheltenham";
  src: url("/img/fonts/cheltenham-normal-700.woff"); }
@font-face {
  font-family: "old-english";
  src: url("/img/fonts/OldeEnglish.ttf"); }
#root .header-holder {
  max-width: 970px;
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #444; }
  #root .header-holder .header-item {
    display: inline-block;
    width: 32%; }
    #root .header-holder .header-item i {
      vertical-align: middle;
      margin-right: 6px; }
    #root .header-holder .header-item .todayspaper-link {
      font-size: 0.6875rem;
      line-height: 0.6875rem;
      font-weight: 400;
      font-style: normal;
      font-family: "nyt-franklin",arial,helvetica,sans-serif;
      vertical-align: middle;
      text-decoration: none;
      color: #000; }
    #root .header-holder .header-item .todayspaper-link:hover {
      text-decoration: underline; }
    #root .header-holder .header-item .date-time {
      font-size: 0.6875rem;
      line-height: 0.6875rem;
      font-weight: 400;
      font-style: normal;
      font-family: "nyt-franklin",arial,helvetica,sans-serif;
      vertical-align: middle;
      text-decoration: none;
      color: #333; }
  #root .header-holder .header-item:nth-child(3n-1) {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%; }
  #root .header-holder .header-item:nth-child(3n) {
    text-align: right;
    margin-right: 1%; }
  #root .header-holder .header-item:nth-child(3n-2) {
    margin-left: 1%;
    text-align: left; }
#root .masthead {
  max-width: 970px;
  min-height: 10vh;
  margin: 0 auto; }
  #root .masthead .textarea {
    margin: 0 auto;
    position: relative; }
    #root .masthead .textarea h1 {
      font-size: 90px;
      color: #000;
      /* Not placed at other renditions yet */
      text-align: center;
      padding: 20px;
      font-weight: 700;
      font-family: "old-english",georgia,"times new roman",times,serif;
      visibility: hidden;
      z-index: -99;
      position: absolute; }
    #root .masthead .textarea svg {
      width: 100%;
      padding: 20px;
      text-align: center; }
    #root .masthead .textarea h2 {
      font-size: 20px;
      text-align: center;
      color: #000;
      /* Not placed at other renditions yet */
      padding-bottom: 20px;
      font-weight: 700;
      font-family: "nyt-cheltenham",georgia,"times new roman",times,serif; }
#root .list-of-news {
  max-width: 970px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* This is a trick! I*'m not hiding anything but browsers need to calculate the height of the block to actually hide something, so they calculate the content instead. */ }
  #root .list-of-news .menu-news {
    display: inline-block;
    position: relative;
    width: 32%;
    min-height: 220px;
    vertical-align: top;
    overflow: hidden;
    padding-top: 20px;
    border-top: 1px solid #b3b3b3; }
    #root .list-of-news .menu-news .newsbox {
      height: 100%;
      display: block; }
      #root .list-of-news .menu-news .newsbox .text-section h3 {
        font-size: 18px;
        padding-bottom: 14px;
        font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
        line-height: 1.75rem; }
    #root .list-of-news .menu-news .link-holder:before {
      vertical-align: bottom; }
    #root .list-of-news .menu-news .link-holder {
      bottom: 0;
      display: block;
      vertical-align: bottom;
      height: 100%; }
    #root .list-of-news .menu-news p {
      font-size: 0.825rem;
      color: #333;
      padding-bottom: 14px;
      line-height: 1.125rem;
      font-family: georgia,"times new roman",times,serif; }
    #root .list-of-news .menu-news a {
      color: #326891; }
      #root .list-of-news .menu-news a span {
        font-weight: 900; }
    #root .list-of-news .menu-news a:hover {
      color: #6288a5; }
    #root .list-of-news .menu-news a:visited {
      color: #326891; }
  #root .list-of-news .photo-thumbnail .thumbnail-image {
    margin: 0 auto 14px;
    background-size: cover;
    display: block;
    width: 100%;
    max-height: 207px; }
#root .footer {
  border-top: 1px solid #444;
  max-width: 970px;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 40px; }
  #root .footer div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 100%;
    margin-right: 1%; }
  #root .footer p {
    display: inline-block;
    position: absolute;
    font-size: 0.825rem;
    color: #333;
    line-height: 1.125rem;
    font-family: georgia,"times new roman",times,serif;
    top: 40%;
    margin-left: 1%; }
    #root .footer p span {
      font-weight: 900; }
  #root .footer .disclaimer {
    float: right; }

@media (min-width: 601px) {
  .menu-news:nth-child(3n-1) {
    margin-left: 1%;
    margin-right: 1%; }

  .menu-news:nth-child(3n-2) {
    margin-left: 1%; }

  .menu-news:nth-child(3n) {
    margin-right: 1%; } }
@media (max-width: 701px) {
  #root .masthead {
    max-width: 700px; }
    #root .masthead .textarea svg {
      padding: 20px 0; }
    #root .masthead h1 {
      font-size: 60px; } }
@media (max-width: 601px) {
  #root .list-of-news .menu-news {
    width: 48%; }
    #root .list-of-news .menu-news .link-holder:before {
      vertical-align: bottom; }
    #root .list-of-news .menu-news .link-holder {
      bottom: 0;
      display: block;
      vertical-align: bottom;
      height: 100%; }
    #root .list-of-news .menu-news p {
      font-size: 0.825rem;
      color: #333;
      padding-bottom: 14px;
      line-height: 1.125rem;
      font-family: georgia,"times new roman",times,serif; }
  #root .list-of-news .menu-news:nth-child(2n-1) {
    margin-left: 1%;
    margin-right: 1%; }
  #root .list-of-news .menu-news:nth-child(2n) {
    margin-right: 1%; } }
@media (max-width: 450px) {
  #root .masthead h1 {
    font-size: 40px; }
  #root .list-of-news .menu-news {
    width: 97%;
    margin-right: 1.5%;
    margin-left: 1.5%; }
  #root .footer {
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
    overflow: auto;
    height: 100%; }
    #root .footer div {
      display: block;
      vertical-align: middle;
      position: relative;
      height: 100%;
      padding-bottom: 14px;
      margin: 0 auto; }
    #root .footer p {
      display: block;
      text-align: center;
      top: 0%;
      position: relative; }
    #root .footer .disclaimer {
      text-align: center;
      float: none; } }
@media (max-width: 320px) {
  #root .header-holder {
    max-width: 970px;
    margin: 10px auto 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #444; }
    #root .header-holder .header-item:nth-child(3n-2) {
      width: 26%; }
    #root .header-holder .header-item:nth-child(3n-1) {
      width: 30%; }
    #root .header-holder .header-item:nth-child(3n) {
      width: 40%; } }

/*# sourceMappingURL=style.css.map */
