html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1;
}

@font-face {
  font-family: "nyt-cheltenham";
  src: url("/img/fonts/cheltenham-normal-700.woff");
}

@font-face {
  font-family: "old-english";
  src: url("/img/fonts/OldeEnglish.ttf");
}

$black: #000;
$gray-10: #121212;
$gray-20: #333;
$gray-25: #444;
$gray-30: #666;
$gray-35: #888;
$gray-40: #999;
$gray-45: #b3b3b3;
$gray-50: #ccc;
$gray-60: #e2e2e2;
$gray-70: #ebebeb;
$gray-80: #f3f3f3;
$gray-90: #f7f7f7;
$white: #fff;

// blue - dark to light

$blue-10: #004276;
$blue-20: #326891;
$blue-30: #6288a5;
$blue-40: #879cb4;
$blue-50: #f0f8fc;

// red - dark to light

$red-10: #a81817;
$red-20: #d31e25;

// yellow - dark to light

$yellow-10: #c5a257;
$yellow-20: #f8f8d4;
$yellow-30: #fbfbea;

// misc - dark to light

$newsprint-10: #bab8b3;
$newsprint-20: #e9ebe4;
$newsprint-25: #f4f5f2;
$newsprint-30: #f7f7f5;

$text-color: $gray-20;

$link-color: $blue-20;
$link-hover-color: $blue-30;
$link-visited-color: $blue-20;

$insider-yellow: #fed464;

//Color area end

$L-width: 970px;

#root {

	.header-holder {

		width: $L-width;
		margin: 10px auto 0 auto;
		padding-bottom: 10px;
		border-bottom: 1px solid $gray-25;

		.header-item {

			display: inline-block;
			width: 33%;

			i {

				vertical-align: middle;
				margin-right: 6px;
			}

			.todayspaper-link {
				font-size: 0.6875rem;
				line-height: 0.6875rem;
				font-weight: 400;
				font-style: normal;
				font-family: "nyt-franklin",arial,helvetica,sans-serif;
				vertical-align: middle;
				text-decoration: none;
				color: $black;
			}

			.todayspaper-link:hover {
				text-decoration: underline;
			}

			.date-time {
			font-size: 0.6875rem;
			line-height: 0.6875rem;
			font-weight: 400;
			font-style: normal;
			font-family: "nyt-franklin",arial,helvetica,sans-serif;
			vertical-align: middle;
			text-decoration: none;
			color: $gray-20;
		}
		}

		.header-item:nth-child(3n-1) {
			text-align: center;
		}

		.header-item:nth-child(3n) {
			text-align: right;
		}
	}

	.masthead {

		width: $L-width;
		min-height: 10vh;
		margin: 0 auto;

		.textarea {

			margin: 0 auto;
			position: relative;


			h1 {
				font-size: 90px;
				color: $black; /* Not placed at other renditions yet */
				text-align: center;
				padding: 20px;
				font-weight: 700;
				font-family: "old-english",georgia,"times new roman",times,serif;
				visibility: hidden;
				z-index: -99;
				position: absolute;

			}

			svg {

				width: 100%;
				padding: 20px;
				text-align: center;
			}

			h2 {
				font-size: 20px;
				text-align: center;
				color: $black; /* Not placed at other renditions yet */
				padding-bottom: 20px;
				font-weight: 700;
				font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;

			}
		}
	}

.list-of-news {

	width: $L-width;
	margin: 0 auto;
	position: relative;
	overflow: hidden; /* This is a trick! I*'m not hiding anything but browsers need to calculate the height of the block to actually hide something, so they calculate the content instead. */

	.menu-news {

		display: inline-block;
		position: relative;
		width: 32%;
		min-height: 220px;
		vertical-align: top;
		overflow: hidden;
		padding-top: 20px;
		border-top: 1px solid $gray-45;

		.newsbox {

			height: 100%;

			.text-section {

				h3 {

					font-size: 18px;
					padding-bottom: 14px;
					font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
					line-height: 1.75rem;
				}
			}

		}

		.link-holder:before {
			vertical-align: bottom;
		}

		.link-holder {
			bottom: 0;
			display: block;
			vertical-align: bottom;
			height: 100%;
		}

		p {
			font-size: 0.825rem;
			color: $gray-20;
			padding-bottom: 14px;
			line-height: 1.125rem;
			font-family: georgia,"times new roman",times,serif;
			display: inline-block;
		}

		a {
			color: $link-color;
		}

		a:hover {
			color: $link-hover-color;
		}

		a:visited {
			color: $link-visited-color;
		}
	}

	.photo-thumbnail {

		.thumbnail-image {
			margin: 0 auto 14px;
			background-size: cover;
			display: block;
			width: 100%;
		}
	}

	.menu-news:nth-child(3n-1) {
		margin-left: 1%;
		margin-right: 1%;
	}

	.menu-news:nth-child(3n-2) {
	margin-left: 1%;
	}

	.menu-news:nth-child(3n) {
	margin-right: 1%;
	}

}

.footer {
	border-top: 1px solid $gray-25;
	width: $L-width;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;

	p {
		font-size: 0.825rem;
		color: $gray-20;
		line-height: 1.125rem;
		font-family: georgia,"times new roman",times,serif;
		display: inline-block;
	}

}
}

@media (max-width: 960px) {

#root {

	.masthead {
		max-width: 960px;

		h1 {
			font-size: 60px;
		}
	}
}

}

@media (max-width: 700px) {

#root {

	.masthead {
		max-width: 960px;
		height: 300px;

		h1 {
			font-size: 60px;
		}
	}
}

}

@media (max-width: 450px) {

#root {

	.masthead {
		max-width: 960px;
		height: 300px;

		h1 {
			font-size: 40px;
		}
	}
}

}